/* body{
    background: darkslategrey;
} */
nav {
    box-shadow: 5px 4px 5px #000;
}

.dropdown-menu {
    background-color: rgb(52, 52, 52);
}

.dropdown-menu>li>a {
    color: whitesmoke;
}

.socialMediaFooter {
    width: 30px;
    margin-bottom: 10px;
}
/* body {
    background: #efefef;
} */

.form-body {
    background: rgb(52, 52, 52);            
    padding: 9px;
}
.innter-form label{
    color:whitesmoke;
}

.login-form {
    background-color: rgb(52, 52, 52);
    padding: 20px;
    border-top: 3px solid#3e4043;
}

.innter-form {
    padding-top: 20px;
}

.final-login li {
    width: 50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs>li {
    color: #222 !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: rgba(7, 59, 107, 0.75);
    border: none !important;
    border-bottom-color: transparent;
    border-radius: none !important;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius: none !important;
    text-transform: uppercase;
    font-size: 16px;
}

.social-login {
    text-align: center;
    font-size: 12px;
}

.social-login p {
    margin: 15px 0;
}

.social-login ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social-login ul li {
    width: 33%;
    float: left;
    clear: fix;
}

.social-login ul li a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

.social-login ul li:nth-child(1) a {
    background: #3b5998;
}

.social-login ul li:nth-child(2) a {
    background: #dc4e41;
}

.social-login ul li:nth-child(3) a {
    background: #1dcaff;
}

.sa-innate-form input[type=text],
input[type=password],
input[type=file],
textarea,
select,
email {
    font-size: 13px;
    padding: 10px;
    border: 1px solid#ccc;
    outline: none;
    width: 100%;
    margin: 8px 0;
}

.sa-innate-form input[type=submit] {
    border: 1px solid#e64b3b;
    background: #e64b3b;
    color: #fff;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 5px;
}

.sa-innate-form input[type=submit]:hover {
    border: 1px solid#db3b2b;
    background: #db3b2b;
    color: #fff;
}

.sa-innate-form button {
    background-color: rgba(7, 45, 79, 0.75);
    /* border: 1px solid; */
    background-color: rgba(7, 59, 107, 0.75);            
    color: #fff;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 5px;
}

.sa-innate-form button:hover {
    /* border: 1px solid#db3b2b; */
    background: khaki;
    color: #fff;
}

.sa-innate-form p {
    font-size: 13px;
    padding-top: 10px;
}

@media(max-width:767px) {
    
}

@media(min-width:767px) {
    #loginBlockFrom {
        width: 230px;
    }
}

.socialMediaFooter{
    width: 30px;
    margin-bottom: 10px;
}

#followUs li:nth-child(odd){
    float: left;
    margin-right: 10px;
}

.example-desc {
    margin: 3px 0;
    padding: 5px;
}

#carousel {
    width: 960px;
    height: 300px;
    position: relative;
    clear: both;
    overflow: hidden;
}

#carousel img {
    visibility: hidden;
    /* hide images until carousel can handle them */
    cursor: pointer;
    /* otherwise it's not as obvious items can be clicked */
    width: 200px;
}

.split-left {
    width: 450px;
    float: left;
}

.split-right {
    width: 400px;
    float: left;
    margin-left: 10px;
}

#callback-output {
    height: 250px;
    overflow: scroll;
}

textarea#newoptions {
    width: 430px;
}

.OWmovies{
    margin-bottom: 5px;
}

#printHereIdiot{
    display: none;
    width: 70%;
}

#printHereIdiot img{
    height: 400px;
}

.aside img{
    height: 65px;
    display: block;
    float: left;
    padding-bottom: 7.5px;
    margin-right: 15px;
    padding-top: 7.5px;
}
.aside a {
    cursor: pointer;
    vertical-align: middle;
    font-size: 1.2em
}
.aside {
    vertical-align: middle;
}
.asideDivs {
    box-sizing: border-box;
}
.tMovies img{
    height: 120px;
    display: block;
    margin: auto;
    padding: 10px;
}

.inTheaters{
    display: none;
}

.latestTrailers{
    display: none;
}

.latestPosters{
    display: none;
}

.comingSoon{
    display: none;
}

.tMovies{
    text-align: center;
    width: 150px;
    /* border: 2px solid #3A3A3A; */
    display: block;
    float: left;
    margin-right: 5px;
}

.tMovies span {
    cursor: pointer;
}

iframe{
    padding-right: 10px;
}

.postersImgs img{
    height: 230px;
    width: 150px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.postersImgs{
    position: relative;
        top: 50%;
        left: 50%;
        
        /* width: 320px;
        height: 240px; */
        
        -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
        -moz-transform: translate(-50%,-50%); /* Firefox */
        -ms-transform: translate(-50%,-50%); /* IE 9 */
        -o-transform: translate(-50%,-50%); /* Opera */  
}


.pImgs {
    width: 100%;
    height: 100%;    
}

.pImgs img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
      transition: all 1s ease;
      max-width: 100%;
      display: block;
}

.pImgs:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    max-width: 100%;
    display: block;
}
.tMovies a {
    font-size: 1.2em
}
